/*
Filename: Application Form
Author: Nguyen Lam Minh Huy
Created: 22th Jan 2025
Description: apply.html
*/


body{
    display: flex;
    font-family: 'Montserrat';
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav{

    animation: fade-down 0.5s;
}



.title{
    text-align: center;
    padding: 0px;
    color: gold;
    border-radius: 10px;
    animation: fade-up 0.5s;
}

h1{
    font-size: 40px;
}


.form-container {
    width: 700px;    
    padding: 19px;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 10px;
    
    background-color: #1e1e1e;
    border-radius: 15px;
    animation: fade-up 0.9s;
}

.input-box {
    color: white;
}

form .gender-details{
    border-radius: 15px;
}

.form-container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-details .input-box input{
    height: 22px;
    width: 100%;
}

form .user-details .input-box {
    margin: 20px 0 0;
    width: calc(100%/ 2 - 20px);
}

form .gender-details .category {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

form .input-box input, textarea {
    background-color: gold;
    border-radius: 10px;
}

form    .input-box .skill-category {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

form .button {
    height: 45px;
    margin: 10px 0;
}
form .button input{
    font-family: 'Montserrat';
    height: 100%;
    width: 100%;
    border-radius: 50px;
    font: bold 15pt '';
    background: linear-gradient(270deg, rgb(231, 202, 37), rgb(247, 225, 104))
}

.button input:hover {
    border: 1px solid #07affd;
}

input[type="submit"] {
    text-transform: uppercase;
}

input, textarea {
    border: 1px solid #000000;
    outline: none;
    transition: all 0.30s ease-in-out;
}

input:hover, textarea:hover{
    border: 1px solid #07affd;
}



@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-20px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@media (maxwidth: 584px) {
    .form-container{
        max-width: 100%;
    }
}