/*
filename: Vo Ngoc Nam
author: Ngoc Nam
Created: 20 January 2025
Description: about.html
*/

body {
    color: #FFDD03;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


img {
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

th, td {
    border: 4px solid #ffe715;   
    padding: 20px;
}

table {
    position: absolute;
    top: 450px;
    left: 50px;
    border-collapse: collapse;
    background-color: #151515;
}

.box {
    background-color: #151515;
    border: 4px solid #ffe715;
    border-radius: 1.25em;
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.1);
}

img:hover {
    cursor: pointer;
    background-color: #151515;
    box-shadow: 10px 10px 20px rgb(117, 117, 117);
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tutor {
    text-align: center;
}

.container{
    position: relative;
    top: calc(50% - 400px);
    left: calc(50% - 350px);
    width: 650px;
    height: 400px;
    display: flex;
    background-color: #fff;
    flex-wrap: wrap;
}

.slider{
    background-color: darkcyan;
    min-width: 650px;
    height: 218px;
    display: flex;
    flex-wrap: nowrap;
}

.box{
    transition: 0.6s ease-in-out;
    min-width: 500px;
    height: 375px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.container .NamPic:hover ~ .slider .box{
    transform: translateX(0%) 2s;
}

.container .ThinhPic:hover ~ .slider .box{
    transform: translateX(-100%);
}

.container .KhanhPic:hover ~ .slider .box{
    transform: translateX(-200%);
}

.container .HuyPic:hover ~ .slider .box{
    transform: translateX(-300%);
}