/*
Filename: Application Form
Author: Nguyen Lam Minh Huy
Created: 22th Jan 2025
Description: apply.html
*/


body{
    font-family: 'Montserrat';
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav{
    margin-bottom: 40px;
    animation: fade-down 0.5s;
}



.title{
    
    background-color: #585757;
    margin: 30px;
    border-radius: 10px;
}

h1{
    font-size: 40px;
    color: rgb(231, 202, 37);
}

.form-container .title{
    text-align: center;
}

.form-container {
    width: 700px;
    padding: 19px;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 10px;
    
    background-color: #151515;
    border-radius: 15px;
    animation: fade-up 0.5s;
}

.input-box {
    color: rgb(231, 202, 37);
}

.form-container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-details .input-box input{
    height: 22px;
    width: 100%;
}

form .user-details .input-box {
    margin: 20px 0 0;
    width: calc(100%/ 2 - 20px);
}

form    .gender-details .category {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

form    .input-box .skill-category {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

form .button {
    height: 45px;
    margin: 10px 0;
}
form .button input{
    
    height: 100%;
    width: 100%;
    border-radius: 50px;
    font: bold 15pt '';
    background: linear-gradient(270deg, rgb(231, 202, 37), rgb(247, 225, 104))
}

input[type="submit"] {
    text-transform: uppercase;
}

input, textarea {
    border: 1px solid #000000;
    outline: none;
    transition: all 0.30s ease-in-out;
}

input:hover, textarea:hover{
    background-color: #fafafa;
}

input:hover, textarea:hover{
    border: 1px solid #FFFFFF;
    
}



@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-30px) scale(0.9);
    }

    to {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}