/*
filename: Ho Quoc Khanh
author: Khanh
Created: 20 January 2025
Description: jobs.html
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap');

body{
    color: #FBFCD4;
    font-family: 'Montserrat';
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav{
    margin-bottom: 20px;
}

#header{
    margin-bottom: 10px
}

.text-container{
    overflow: hidden;
}

h1{
    font: 2rem 'Montserrat';
    color: gold;
}

#mid{
    width: 98vw;
    height: auto;
}

main{
    margin: 20px;
    padding: 20px;
    width: calc(100% - 25vw - 160px);
    height: calc(100% - 80px);
    background-color: black;
}

.main-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.card{
    overflow: hidden;
    border-radius: 15px;
    color: black;
    background-color: #1e1e1e;
    transition: transform 0.3s ease-in-out;
    width: calc(50% - 60px);
}

.card:hover{
    transform: translateY(-2.5%);
}

#card-header{
    padding: 10px 20px;
    background: gold;
    text-align: center;
}

#card-header h2{
    margin-top: 0;
    margin-bottom: 0;
}

h3, p{
    display: inline;
}

.card-salary{
    color: greenyellow;
}

#card-body{
    color: white;
    padding: 10px 20px;
}

.card-report{
    text-align: center;
}

aside{    
    margin: 20px;
    padding: 20px;
    width: 25vw;
    height: calc(100% - 80px);
    background-color: tomato;
    float: right;
}


hr{
    width: 98vw;
}

@keyframes rotBGimg{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes slideInLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInRight {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes slideInDown {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}