/*
filename: Ho Quoc Khanh
author: Khanh
Created: 20 January 2025
Description: jobs.html
*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap');

body{
    color: #FBFCD4;
    font-family: 'Montserrat';
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nav{
    margin-bottom: 20px;
}

#header{
    margin-bottom: 10px
}

.text-container{
    padding: 0px 10px;
    cursor: pointer;
    overflow: hidden;
}

h1{
    font: calc(2rem + 0.5vw) 'Montserrat';
    color: #FFE715;
}

#mid{
    width: 98vw;
    height: auto;
}

main{
    min-width: 470px;
    margin: 20px;
    padding: 20px;
    width: calc(100% - 25vw - 160px);
    height: calc(100% - 80px);
    background-color: black;
}

.main-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 100px;
    justify-content: space-between;
}

.card{
    overflow: hidden;
    border-radius: 15px;
    color: black;
    background-color: #1e1e1e;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: calc(50% - 60px);
    min-width: 320px;
    max-width: 480px;
}

.card:hover{
    transform: translateY(-2.5%);
    box-shadow: 0px 2px 16px gray;
}

#card-header{
    padding: 10px 20px;
    background: #FFE715;
    text-align: center;
}

#card-header h2{
    margin-top: 0;
    margin-bottom: 0;
}

h3, p{
    display: inline;
}

.card-salary{
    color: greenyellow;
}

#card-body{
    color: white;
    padding: 10px 20px;
}

.card-report{
    text-align: center;
}

aside{    
    margin: 20px;
    /* padding: 20px; */
    width: 25vw;
    min-width: 140px;
    border-radius: 15px;
    height: auto;
    background-color:#101920;
    border: 4px solid #FFE715;
    float: right;
    display: flex;
}

.aside-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    gap: 5vh;
    justify-content: flex-start;
    /* background-color: yellow; */
}

.card-flip{
    min-width: 140px;
    width: 100%;
    aspect-ratio: 5/7;
    border-radius: 15px;
    transition: transform 0.6s;
    color: #FFE715;
    background-color: black;
    position: relative;
    transform-style: preserve-3d;
}

.card-flip:hover{
    transform: rotateY(180deg);
}

.card-front, .card-back {
    margin: 0;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.card-front{
    background-color: black;
    color: #FFE715;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 2.2vw;
}

.card-back{
    position: relative;
    font-size: 1.8vw;
    transform: rotateY(180deg);
}

.card-back-header{
    margin: 0;
    font-size: 1.4vw;
    height: 10%;
    width: 100%;
    padding-top: 5%;
    text-align: center;
}

.card-back-mid{
    position: relative;
    width: 100%;
    height: 60%;
}


.progress-bar-container{
    left: 7.5%;
    width: 3vw;
    height: 100%;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

#fsd01-progress-bar{
    width: 100%;
    height: 75%;
    background-color: orange;
}

#db456-progress-bar{
    width: 100%;
    height: 57%;
    background-color: orange;
}

#pm789-progress-bar{
    width: 100%;
    height: 85%;
    background-color: orange;
}

#uxd01-progress-bar{
    width: 100%;
    height: 22%;
    background-color: orange;
}

.progress-bar-percentage{
    font-size: 1.2vw;
}

.metric-wrapper{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    padding-left: 0; /* List-style auto indent */
    position: absolute;
    width: 60%;
    height: 100%;
    top: -7.5%;
    left: 10vw;
}

.metric-stats{
    width: 100%;
    display: block;
    float: left;
    font-size: 4vw;
}

.card-back-footer{
    font-size: 1.5vw;
    padding-top: 10%;
    height: 30%;
    width: 100%;
    text-align: center;
}


hr{
    width: 98vw;
}

@keyframes rotBGimg{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rolling{
    0%{
        transform: rotate(0deg) translateX(0%);
        background-color: tomato;
    }

    100%{
        transform: rotate(360deg);
        translate: 400%;
        background-color: #FFE715;
    }
}

@media screen and (max-width: 1200px) {
    .card{
        width: calc(100% - 120px);
    }

    .main-wrapper{
        justify-content: center;
    }
  }

@media screen and (max-width: 960px){

  }